openapi: 3.0.3
info:
  title: WarframeStat.us API
  description: |
    Simple API for data from the game Warframe.
    [Parser Docs](https://wfcd.github.io/warframe-worldstate-parser/)
    [Items Types](https://github.com/WFCD/warframe-items/blob/master/index.d.ts)
  contact:
    email: tobiah@protonmail.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 2.0.8
  x-logo:
    url: https://warframestat.us/wfcd_logo_color.png
servers:
  - url: https://api.warframestat.us
    description: Production Server
tags:
  - name: Warframe
    description: Everything about Warframe
    externalDocs:
      description: Find out more
      url: https://warframe.com
  - name: Worldstate
    description: Warframe Worldstate Data
    externalDocs:
      description: Find out more
      url: https://discord.gg/jGZxH9f
  - name: GitHub
    description: Review Source Code
    externalDocs:
      description: Check our source code
      url: https://github.com/wfcd/warframe-status
  - name: Unstable
    description: Potentially still in active development
  - name: Searchable
    description: Follows a consistent pattern for searching data
  - name: Rivens
    description: Proxy data for Digital Extreme's semi-regular Riven Data dumps
  - name: Static Processing Data
    description: Direct access via API to the data we use to parse the worldstate
paths:
  /{platform}:
    get:
      operationId: getWorldstateByPlatform
      tags:
        - Worldstate
      summary: Get Warframe Worldstate Data for the provided platform
      description: The full translated Warframe Worldstate
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ws'
        '400':
          $ref: '#/components/responses/error'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/alerts:
    get:
      operationId: getAlertsByPlatform
      tags:
        - Worldstate
      summary: Alerts data
      description: Description and rewards for Alerts
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alerts'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/arbitration:
    get:
      operationId: getArbitrationByPlatform
      tags:
        - Worldstate
        - Unstable
      summary: '[Unstable] Arbitration data'
      description: Description of the currently active arbitration
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arbitration'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/archonHunt:
    get:
      operationId: getArchonHuntByPlatform
      tags:
        - Worldstate
      summary: Current Archon Hunt Data
      description: Data about the missions for the current archon hunt
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/archonHunt'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/cambionCycle:
    get:
      operationId: getCambionByPlatform
      tags:
        - Worldstate
      summary: Get Current Cambion Drift Status
      description: Data on the Vome/Fass cycle for the Cambion Drift on Deimos
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cambionCycle'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/cetusCycle:
    get:
      operationId: getCetusByPlatform
      tags:
        - Worldstate
      summary: Get Current Cetus Status
      description: Data on the day/night cycle for Cetus on Earth
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cetusCycle'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/conclaveChallenges:
    get:
      operationId: getConclaveChallengesByPlatform
      tags:
        - Worldstate
      summary: Get Conclave Challenge Data
      description: Data on each day and week's conclave challenges
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conclaveChallenges'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/constructionProgress:
    get:
      operationId: getConstructionByPlatform
      tags:
        - Worldstate
      summary: Get Construction Progress for Fomorians and Razorbacks
      description: >-
        Construction percentages for showing how far constructed the enemy
        fleets are.
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/construction'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/dailyDeals:
    get:
      operationId: getDealsByPlatform
      tags:
        - Worldstate
      summary: Daily Deal information from Darvo
      description: Darvo's Daily Deal details
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dailyDeals'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/darkSectors:
    get:
      operationId: getDarkSectorsByPlatform
      tags:
        - Worldstate
      summary: Dark Sector occupation and history
      description: >-
        Dark Sector (Rail Wars) data and history. Digital Extremes has emptied
        several of these.
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/darkSectors'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
      deprecated: true
  /{platform}/earthCycle:
    get:
      operationId: getEarthByPlatform
      tags:
        - Worldstate
      summary: Get the current Earth rotation information
      description: The current Earth day/night cycle progress.
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/earthCycle'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/events:
    get:
      operationId: getEventsByPlatform
      tags:
        - Worldstate
      summary: Listing of ongoing events
      description: Events, such as Fomorian Attacks are included here
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/fissures:
    get:
      operationId: getFissuresByPlatform
      tags:
        - Worldstate
      summary: Data on current fissures
      description: Information about current Void Fissure missions
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fissures'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/flashSales:
    get:
      operationId: getSalesByPlatform
      tags:
        - Worldstate
      summary: Current Flash Sales from Darvo
      description: Popular Deals, discounts, featured deals.
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flashSales'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/globalUpgrades:
    get:
      operationId: getGlobalEffectsByPlatform
      tags:
        - Worldstate
      summary: Current Global Upgrades
      description: Any current modifiers applied to all users, such as double drops.
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/globalUpgrades'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/invasions:
    get:
      operationId: getInvasionsByPlatform
      tags:
        - Worldstate
      summary: Invasion Data
      description: >-
        Data on invasion missions, such as estimated completion time, rewards,
        etc.
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invasions'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/kuva:
    get:
      operationId: getKuvaByPlatform
      tags:
        - Worldstate
        - Unstable
      summary: '[Unstable] Current Kuva Mission listing'
      description: >-
        Current Kuva Mission listing (provided by
        [semlar](https://10o.io/kuvalog)).
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/arbitration'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/news:
    get:
      operationId: getNewsByPlatform
      tags:
        - Worldstate
      summary: Current Listing of News items
      description: Translated News items from the worldstate
      parameters:
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/news'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/nightwave:
    get:
      operationId: getNightwaveByPlatform
      tags:
        - Worldstate
      summary: Get the current Nightwave state.
      description: >-
        The Current cycle and challenges of Nightwave, a battle-pass-esque
        rotation and challenge system
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nightwave'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/persistentEnemies:
    get:
      operationId: getAcolytesByPlatform
      tags:
        - Worldstate
      summary: Get Persistent Enemy Data
      description: Data about current acolytes attacking the Sol System
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/persistentEnemies'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/rivens:
    get:
      operationId: getRivensByPlatform
      tags:
        - Worldstate
        - Rivens
      summary: Get Riven statistic data
      description: >-
        Data about averages, deviations, medians, miniums, and maxes for all
        rivens for the provided platform
      parameters:
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
        - $ref: '#/components/parameters/platform'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rivenType'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/rivens/search/{query}:
    get:
      operationId: searchRivensByPlatform
      tags:
        - Worldstate
        - Rivens
      summary: Get Riven statistic data
      description: >-
        Data about averages, deviations, medians, miniums, and maxes for rivens
        whose name match the query for the provided platform
      parameters:
        - $ref: '#/components/parameters/platform'
        - name: query
          in: path
          description: Riven name to search for
          required: true
          schema:
            type: string
            format: utf8
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rivenType'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/sentientOutposts:
    get:
      operationId: getOutpostsByPlatform
      tags:
        - Worldstate
      summary: Get the current Sentient Outpost, if any
      description: >-
        Status data for current Sentient Outpost, if any. Parsed source is
        combined data from DE\'s worldstate and [semlar\'s
        data](https://semlar.com/anomaly.json)
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                type: object
                properties:
                  mission:
                    $ref: '#/components/schemas/mission'
                  active:
                    type: boolean
                    description: Whether the outpost is active
                  id:
                    type: string
                    description: Identifier for the mission node with active indicator
                  activation:
                    type: string
                    format: date-time
                    description: When the mission became or becomes active
                  expiry:
                    type: string
                    format: date-time
                    description: When the mission became or becomes inactive
                  previous:
                    description: >-
                      Estimation data for the last mission that was active.
                      Could also be the current.
                    type: object
                    properties:
                      activation:
                        type: string
                        format: date-time
                        description: When the mission became or becomes active
                      expiry:
                        type: string
                        format: date-time
                        description: When the mission became or becomes inactive
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/simaris:
    get:
      operationId: getSimarisByPlatform
      tags:
        - Worldstate
      summary: Get the current Sanctuary Status
      description: Status data for Simaris' Sanctuary
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/simaris'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/sortie:
    get:
      operationId: getSortieByPlatform
      tags:
        - Worldstate
      summary: Current Sortie Data
      description: Data about the missions for the current sortie
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sortie'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/steelPath:
    get:
      operationId: getSteelPathByPlatform
      tags:
        - Worldstate
      summary: Current Steel Path Data
      description: Data about the missions for the current sortie
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/steelPath'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/syndicateMissions:
    get:
      operationId: getSyndicatesByPlatform
      tags:
        - Worldstate
      summary: Listing of Syndicate mission nodes
      description: >-
        Cycling through different nodes each day, these are a general listing of
        the nodes that each syndicate will use for the day.
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/syndicateMissions'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/timestamp:
    get:
      operationId: getTimestampByPlatform
      tags:
        - Worldstate
      summary: Get the timestamp that the current worldstate was generated at.
      description: The time that the worldstate was last generated
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/timestamp'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/vallisCycle:
    get:
      operationId: getVallisByPlatform
      tags:
        - Worldstate
      summary: Get the current state of the Orb Vallis
      description: The current cycle of the Orb Vallis warm/cold cycle
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vallisCycle'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/vaultTrader:
    get:
      operationId: getVarziaByPlatform
      tags:
        - Worldstate
      summary: Get the current Varzia Information
      description: Information on the current Varzia offerings, or when she will arrive.
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voidTrader'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/voidTrader:
    get:
      operationId: getBaroByPlatform
      tags:
        - Worldstate
      summary: Get the current Void Trader Information
      description: >-
        Information on the current Void Trader offerings, or when he will
        arrive.
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voidTrader'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /{platform}/voidTraders:
    get:
      operationId: getVoidTradersByPlatform
      tags:
        - Worldstate
      summary: Get the current Void Traders Information
      description: >-
        Information on the current Void Traders offerings, or when they will
        arrive.
      parameters:
        - $ref: '#/components/parameters/platform'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/voidTrader'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /arcanes:
    get:
      operationId: getArcanesData
      tags:
        - Static Processing Data
      summary: Get Arcane Enhancement Data
      description: Available Arcane Enhancements
      deprecated: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/arcane'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /arcanes/search/{query}:
    get:
      operationId: searchArcanesData
      tags:
        - Searchable
      summary: Get Arcane Enhancement Data based on the query
      description: Available Arcane Enhancements
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/arcane'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /conclave:
    get:
      operationId: getConclaveData
      tags:
        - Static Processing Data
      summary: Get conclave challenge data
      description: Data about conclave challenges
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conclave'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /conclave/search/{query}:
    get:
      operationId: searchConclavesData
      tags:
        - Searchable
      summary: Get conclave challenge data based on the query
      description: Data about conclave challenges
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conclave'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /drops/search/{query}:
    get:
      operationId: searchDropsData
      tags:
        - Searchable
      summary: Get Warframe Drops data
      description: Percentages for Warframe drops in different areas of the game
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drops'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /events:
    get:
      operationId: getEventsData
      tags:
        - Static Processing Data
      summary: Get Event-specific Data
      description: Data about events
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /events/search/{query}:
    get:
      operationId: searchEventsData
      tags:
        - Searchable
      summary: Get Event-specific Data based on the query
      description: Data about events
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /factions:
    get:
      operationId: getFactionsData
      tags:
        - Static Processing Data
      summary: Get Faction translation information.
      description: Strings for translating faction identifiers.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/factions'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /factions/search/{query}:
    get:
      operationId: searchFactionsData
      tags:
        - Searchable
      summary: Get Faction translation information based on the query.
      description: Strings for translating faction identifiers.
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/factions'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /fissureModifiers:
    get:
      operationId: getFissuresData
      tags:
        - Static Processing Data
      summary: Get Fissure Modifier translation data.
      description: Fissure translation identifiers
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fissureModifiers'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /fissureModifiers/search/{query}:
    get:
      operationId: searchFissuresData
      tags:
        - Searchable
      summary: Get Fissure Modifier translation data based on the query.
      description: Fissure translation identifiers
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fissureModifiers'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /items:
    get:
      operationId: getItemsData
      tags:
        - warframe-items
      summary: Get all item data.
      description: Item information.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/items'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /items/{query}:
    get:
      operationId: searchItemData
      tags:
        - Searchable
        - warframe-items
      summary: Get data for the closest matching single item
      description: Item information.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /items/search/{query}:
    get:
      operationId: searchItemsData
      tags:
        - Searchable
        - warframe-items
      summary: Get data for all matching items
      description: Item information, such as name, unique name, type, and image name.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/items'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /languages:
    get:
      operationId: getLanguageData
      tags:
        - Static Processing Data
      summary: Get Language strings for Warframe.
      description: >-
        Get language strings to assist translation. (Prefer the
        /languages/search/:query route)
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/languages'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /languages/search/{query}:
    get:
      operationId: searchLanguagesData
      tags:
        - Searchable
      summary: Get Language strings for Warframe based on the query.
      description: Get language strings to assist translation.
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/languages'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /locales:
    get:
      operationId: getLocales
      tags:
        - Static Processing Data
      summary: Full list of supported locales
      description: Locales supported by the API
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/language'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /missionTypes:
    get:
      operationId: getMissionData
      tags:
        - Static Processing Data
      summary: Get MissionType Translation Keys
      description: Mission Type information to aid translating identifiers
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/missionTypes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /missionTypes/search/{query}:
    get:
      operationId: searchMissionTypesData
      tags:
        - Searchable
      summary: Get MissionType Translation Keys based on the query
      description: Mission Type information to aid translating identifiers
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/missionTypes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /mods:
    get:
      operationId: getModsData
      tags:
        - warframe-items
      summary: Get all mod data.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/mod'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /mods/{query}:
    get:
      operationId: searchModData
      tags:
        - Searchable
        - warframe-items
      summary: Get data for the closest matching single mod
      description: Mod information.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mod'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /mods/search/{query}:
    get:
      operationId: searchModsData
      tags:
        - Searchable
        - warframe-items
      summary: Get data for all matching mods
      description: Mod information, such as name, unique name, type, and image name.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/mod'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /operationTypes:
    get:
      operationId: getOperationsData
      tags:
        - Static Processing Data
      summary: Get operation types data.
      description: >-
        Operation Types information to aid translating identifiers for global
        upgrades
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationTypes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /operationTypes/search/{query}:
    get:
      operationId: searchOperationsData
      tags:
        - Searchable
      summary: Get operation types data based on the query.
      description: >-
        Operation Types information to aid translating identifiers for global
        upgrades
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationTypes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /persistentEnemy:
    get:
      operationId: getAcolyteData
      tags:
        - Static Processing Data
      summary: Get Persistent Enemy translation data.
      description: >-
        Persistent Enemy translation information for aiding translation of
        identifiers.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acolyteI18n'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /persistentEnemy/search/{query}:
    get:
      operationId: searchAcolytesData
      tags:
        - Searchable
      summary: Get Persistent Enemy translation data based on the query.
      description: >-
        Persistent Enemy translation information for aiding translation of
        identifiers.
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/persistentEnemies'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /solNodes:
    get:
      operationId: getNodeData
      tags:
        - Static Processing Data
      summary: Get Sol Node information and translation data.
      description: >-
        Sol Node translation information for aiding the translation of
        identifiers.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/solNode'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /solNodes/search/{query}:
    get:
      operationId: searchNodesData
      tags:
        - Searchable
      summary: Get Sol Node information and translation data based on the query.
      description: >-
        Sol Node translation information for aiding the translation of
        identifiers.
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/solNodeSearch'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /sortie:
    get:
      operationId: getSortieData
      tags:
        - Static Processing Data
      summary: Get Sortie translation information.
      description: Sortie translation information for assisting translation of identifiers.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sortieData'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /sortie/search/{query}:
    get:
      operationId: searchSortiesData
      tags:
        - Searchable
      summary: Get Sortie translation information based on the query.
      description: Sortie translation information for assisting translation of identifiers.
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sortieData'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /syndicates:
    get:
      operationId: getSyndicateData
      tags:
        - Static Processing Data
      summary: Get Syndicate translation data.
      description: Information to assist translating syndicate identifiers.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/syndicates'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /syndicates/search/{query}:
    get:
      operationId: searchSyndicatesData
      tags:
        - Searchable
      summary: Get Syndicate translation data based on the query.
      description: Information to assist translating syndicate identifiers.
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/syndicates'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /tutorials:
    get:
      operationId: getTutorialData
      tags:
        - Static Processing Data
      summary: Get Tutorials Data
      description: Tutorials data from DE
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tutorials'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /tutorials/search/{query}:
    get:
      operationId: searchTutorialsData
      tags:
        - Searchable
      summary: Get Tutorials Data based on the query
      description: Tutorials data from DE
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tutorials'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /upgradeTypes:
    get:
      operationId: getUpgradeTypesData
      tags:
        - Static Processing Data
      summary: Get upgrade types data for global upgrades.
      description: >-
        Upgrade types for what can be changed by global modifiers, such as
        double credit weekends.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upgradeTypes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /upgradeTypes/search/{query}:
    get:
      operationId: searchUpgradeTypesData
      tags:
        - Searchable
      summary: Get upgrade types data for global upgrades based on the query.
      description: >-
        Upgrade types for what can be changed by global modifiers, such as
        double credit weekends.
      parameters:
        - $ref: '#/components/parameters/query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upgradeTypes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /warframes:
    get:
      operationId: getWarframesData
      tags:
        - warframe-items
      summary: Get all Warframe data
      description: Warframe stats and general information.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warframes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /warframes/{query}:
    get:
      operationId: searchWarframeData
      tags:
        - warframe-items
        - Searchable
      summary: Get data for the closest matching single item
      description: Mod information.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warframe'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /warframes/search/{query}:
    get:
      operationId: searchWarframesData
      tags:
        - Searchable
        - warframe-items
      summary: Get data for all matching Warframes
      description: Warframe stats and general information.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/warframes'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /weapons:
    get:
      operationId: getWeaponsData
      tags:
        - warframe-items
      summary: Get Weapon data and statistics.
      description: Weapon statistics.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/weapons'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /weapons/{query}:
    get:
      operationId: searchWeaponData
      tags:
        - warframe-items
        - Searchable
      summary: Get data for the closest matching single weapon
      description: Mod information.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/weapon'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
  /weapons/search/{query}:
    get:
      operationId: searchWeaponsData
      tags:
        - Searchable
        - warframe-items
      summary: Get data for all matching weapons
      description: Weapon statistics.
      parameters:
        - $ref: '#/components/parameters/only'
        - $ref: '#/components/parameters/remove'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/by'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/language-query'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/weapons'
        '400':
          $ref: '#/components/responses/error'
        '500':
          $ref: '#/components/responses/error'
components:
  schemas:
    language:
      type: string
      default: en
      enum:
        - de
        - es
        - fr
        - it
        - ko
        - pl
        - pt
        - ru
        - zh
        - en
        - uk
    platform:
      type: string
      enum:
        - pc
        - ps4
        - xb1
        - swi
    timestamp:
      minLength: 1
      type: string
    worldstateObject:
      type: object
      properties:
        id:
          type: string
          minLength: 1
          description: unique identifier for this object/event/thing
        activation:
          type: string
          minLength: 1
          format: date-time
          description: ISO-8601 formatted timestamp for when the event began
        expiry:
          type: string
          minLength: 1
          format: date-time
          description: ISO-8601 formatted timestamp for when the event is expected to end
        startString:
          type: string
          description: >-
            Short-time-formatted duration string representing the start of the
            event
        active:
          type: boolean
          description: Whether the event is currently active
    reward:
      type: object
      required:
        - asString
        - color
        - countedItems
        - credits
        - itemString
        - items
        - thumbnail
      properties:
        countedItems:
          minItems: 1
          uniqueItems: true
          type: array
          description: Items that have a quantity attached
          items:
            required:
              - count
              - type
            type: object
            properties:
              count:
                type: number
              type:
                minLength: 1
                type: string
        thumbnail:
          minLength: 1
          type: string
          description: thumbnail URL
        color:
          type: number
          description: RGB value as an int assigned to this reward
        credits:
          type: integer
          format: int32
          description: Amount of credits awarded
        asString:
          minLength: 1
          type: string
          description: string representation of the reward
        items:
          type: array
          description: Items' names possible to be won
          items:
            type: string
            description: Item name that is offered
            example: Orokin Catalyst
        itemString:
          minLength: 1
          type: string
          description: formatted string describing all included items
          example: 5 Detonite Injectors
    faction:
      type: string
      description: A Faction in Warframe
      enum:
        - Orokin
        - Corrupted
        - Infested
        - Corpus
        - Grineer
        - Tenno
        - Narmer
    missionType:
      type: string
      description: >-
        A Warframe mision type, the kind of game mode that the mission/node
        houses.
      enum:
        - Ancient Retribution
        - Arena
        - Assassination
        - Assault
        - Capture
        - Conclave
        - Dark Sector Defection
        - Dark Sector Defense
        - Dark Sector Disruption
        - Dark Sector Excavation
        - Dark Sector Sabotage
        - Dark Sector Survival
        - Defense
        - Disruption
        - Excavation
        - Extermination (Archwing)
        - Extermination
        - Free Roam
        - Hijack
        - Hive
        - Hive Sabotage
        - Interception
        - Interception (Archwing)
        - Mobile Defense
        - Mobile Defense (Archwing)
        - Orokin Sabotage
        - Orphix
        - Pursuit (Archwing)
        - Relay
        - Rescue
        - Rush (Archwing)
        - Sabotage
        - Sabotage (Archwing)
        - Skirmish
        - Spy
        - Survival
        - Volatile
    mission:
      type: object
      required:
        - archwingRequired
        - description
        - faction
        - maxEnemyLevel
        - maxWaveNum
        - minEnemyLevel
        - nightmare
        - node
        - reward
        - type
      properties:
        reward:
          $ref: '#/components/schemas/reward'
        node:
          minLength: 1
          type: string
        nodeKey:
          type: string
          description: Unlocalized node
        faction:
          allOf:
            - $ref: '#/components/schemas/faction'
            - description: Mission opponent (localized)
        factionKey:
          allOf:
            - $ref: '#/components/schemas/faction'
            - description: Mission opponent (unlocalized)
        maxEnemyLevel:
          type: number
        minEnemyLevel:
          type: number
        maxWaveNum:
          type: number
        type:
          allOf:
            - $ref: '#/components/schemas/missionType'
            - description: Mission objective type (localized)
        typeKey:
          allOf:
            - $ref: '#/components/schemas/missionType'
            - description: Mission objective type (unlocalized)
        nightmare:
          type: boolean
        archwingRequired:
          type: boolean
          description: Whether an Archwing is required for participating in the mision.
        isSharkwing:
          description: Whether the mission takes place in a submerssible mission.
          type: boolean
        enemySpec:
          type: string
          description: Enemy specification for the mission
        levelOverride:
          type: string
          description: Override for the map on this mission
        advancedSpawners:
          type: array
          items:
            type: string
          description: Array of strings denoting extra spawners for a mission
        requiredItems:
          type: array
          description: Items required to enter the mission
          items:
            type: string
        consumeRequiredItems:
          type: boolean
          description: Whether the required items are consumed
        leadersAlwaysAllowed:
          type: boolean
          description: Whether leaders are always allowed
        levelAuras:
          type: array
          description: Affectors for this mission
          items:
            type: string
        description:
          type: string
          description: Description of the mission
    eta:
      minLength: 1
      type: string
      description: >-
        Short-formatted string estimating the time until the event/mission is
        closed
    rewardType:
      type: string
      description: One of the reward types
      enum:
        - vauban
        - vandal
        - wraith
        - skin
        - helmet
        - nitain
        - mutalist
        - weapon
        - fieldron
        - detonite
        - mutagen
        - aura
        - neuralSensors
        - orokinCell
        - alloyPlate
        - circuits
        - controlModule
        - ferrite
        - gallium
        - morphics
        - nanoSpores
        - oxium
        - rubedo
        - salvage
        - plastids
        - polymerBundle
        - argonCrystal
        - cryotic
        - tellurium
        - neurodes
        - nightmare
        - endo
        - reactor
        - catalyst
        - forma
        - synthula
        - exilus
        - riven
        - kavatGene
        - kubrowEgg
        - traces
        - other
        - credits
    alert:
      type: object
      properties:
        mission:
          allOf:
            - $ref: '#/components/schemas/mission'
            - description: Mission to be completed to earn the reward
        expired:
          type: boolean
        eta:
          $ref: '#/components/schemas/eta'
        rewardTypes:
          type: array
          items:
            $ref: '#/components/schemas/rewardType'
      required:
        - mission
        - expired
        - rewardTypes
    alerts:
      type: array
      items:
        allOf:
          - $ref: '#/components/schemas/worldstateObject'
          - $ref: '#/components/schemas/alert'
    arbitration:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - type: object
          properties:
            node:
              type: string
              description: Plain name for the node
            enemy:
              allOf:
                - $ref: '#/components/schemas/faction'
                - description: Localized faction name
            enemyKey:
              allOf:
                - $ref: '#/components/schemas/faction'
                - description: Non-localized faction name
            type:
              type: string
              description: Mission type localized
            typeKey:
              allOf:
                - description: Non-localized mission type key
                - $ref: '#/components/schemas/missionType'
            archwing:
              type: boolean
              description: Whether this mission requires archwing
            sharkwing:
              type: boolean
              description: Whether this mission requires sharkwing
    archonHunt:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - required:
            - activation
            - boss
            - eta
            - expired
            - expiry
            - faction
            - id
            - rewardPool
            - missions
          type: object
          properties:
            rewardPool:
              minLength: 1
              type: string
            missions:
              minItems: 3
              uniqueItems: true
              type: array
              items:
                $ref: '#/components/schemas/mission'
            boss:
              minLength: 1
              type: string
            faction:
              allOf:
                - $ref: '#/components/schemas/faction'
                - description: Faction of the boss controlling the archon hunt
            factionKey:
              allOf:
                - $ref: '#/components/schemas/faction'
                - description: Unlocalized Faction of the boss controlling the archon hunt
            expired:
              type: boolean
            eta:
              minLength: 1
              type: string
    cambionCycle:
      required:
        - expiry
        - activation
        - id
        - state
      type: object
      properties:
        id:
          minLength: 1
          type: string
        expiry:
          $ref: '#/components/schemas/timestamp'
        activation:
          $ref: '#/components/schemas/timestamp'
        state:
          type: string
          enum:
            - vome
            - fass
        active:
          deprecated: true
          type: string
          enum:
            - vome
            - fass
        timeLeft:
          minLength: 1
          type: string
    cetusCycle:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - required:
            - expiry
            - isCetus
            - isDay
            - timeLeft
          type: object
          properties:
            isDay:
              type: boolean
            state:
              type: string
              description: Describes the current time. e.g. "day" or "night"
            timeLeft:
              minLength: 1
              type: string
            isCetus:
              type: boolean
            shortString:
              type: string
              description: >-
                A short description of the remaining time until the next
                day/night change.
    conclaveChallenges:
      minItems: 1
      type: array
      items:
        required:
          - amount
          - asString
          - category
          - daily
          - description
          - endString
          - eta
          - expired
          - expiry
          - id
          - mode
          - rootChallenge
        type: object
        properties:
          mode:
            minLength: 1
            type: string
          amount:
            type: number
          eta:
            minLength: 1
            type: string
          expired:
            type: boolean
          endString:
            minLength: 1
            type: string
          daily:
            type: boolean
          description:
            minLength: 1
            type: string
          id:
            minLength: 1
            type: string
          expiry:
            minLength: 1
            type: string
          asString:
            minLength: 1
            type: string
          category:
            minLength: 1
            type: string
          rootChallenge:
            type: boolean
    construction:
      required:
        - fomorianProgress
        - id
        - razorbackProgress
        - unknownProgress
      type: object
      properties:
        id:
          minLength: 1
          type: string
        fomorianProgress:
          minLength: 1
          type: string
        razorbackProgress:
          minLength: 1
          type: string
        unknownProgress:
          minLength: 1
          type: string
    dailyDeals:
      minItems: 1
      type: array
      items:
        required:
          - discount
          - eta
          - expiry
          - id
          - item
          - uniqueName
          - originalPrice
          - salePrice
          - sold
          - total
        type: object
        properties:
          sold:
            type: number
          item:
            minLength: 1
            type: string
          uniqueName:
            minLength: 1
            type: string
          total:
            type: number
          eta:
            minLength: 1
            type: string
          originalPrice:
            type: number
          salePrice:
            type: number
          discount:
            type: number
          expiry:
            minLength: 1
            type: string
          id:
            minLength: 1
            type: string
    darkSectorHistory:
      type: object
      description: Describes a Dark Sector Historical Battle.
      properties:
        defender:
          type: string
          description: Clan or alliance that was defending.
        defenderIsAlliance:
          type: boolean
          description: Whether the defender was an alliance.
        attacker:
          type: string
          description: Clan or alliance that was attacking.
        winner:
          type: string
          description: One of attacker or defender, whichever one won.
        start:
          type: string
          description: When the battle started.
        end:
          type: string
          description: When the battle ended.
    darkSectors:
      minItems: 1
      type: array
      items:
        required:
          - defenderDeployemntActivation
          - defenderMOTD
          - defenderName
          - deployerClan
          - deployerName
          - id
          - isAlliance
        type: object
        properties:
          defenderMOTD:
            minLength: 1
            type: string
          deployerName:
            minLength: 1
            type: string
          defenderDeploymentActivation:
            type: number
          defenderName:
            minLength: 1
            type: string
          deployerClan:
            minLength: 1
            type: string
          isAlliance:
            type: boolean
          id:
            minLength: 1
            type: string
          history:
            type: array
            items:
              $ref: '#/components/schemas/darkSectorHistory'
    earthCycle:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - required:
            - expiry
            - id
            - isDay
            - timeLeft
          type: object
          properties:
            isDay:
              type: boolean
            timeLeft:
              minLength: 1
              type: string
    syndicate:
      type: string
      enum:
        - Arbiters of Hexis
        - Cephalon Suda
        - Assassins
        - Nightwave
        - Ostrons
        - Vox Solaris
        - Solaris United
        - Perrin Sequence
        - Steel Meridian
        - Red Veil
        - New Loka
    syndicateJob:
      type: object
      description: A Job for a syndicate. Often called a bounty.
      properties:
        activation:
          type: string
          description: Timestamp for when the job becomes active
          format: date-time
        expiry:
          type: string
          description: Timestamp for when the job becomes inactive
          format: date-time
        rewardPool:
          type: array
          items:
            type: string
          description: Reward Pool for the job
        type:
          type: string
          description: What type of Job (Bounty) it is
        enemyLevels:
          type: array
          description: Array of enemy levels
          items:
            type: number
        standingStages:
          type: array
          items:
            type: number
          description: Stages of standing rewards.
        minMR:
          type: number
          description: Minimum Mastery Rank required to perform a job.
    event:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - type: object
          properties:
            maximumScore:
              type: number
              description: Maximum score to complete the event
            currentScore:
              type: number
              description: The current score for the event
            smallInterval:
              type: number
              description: Interval for the first goal
            largeInterval:
              type: number
              description: Interval for the second intermediate score
            faction:
              $ref: '#/components/schemas/faction'
            description:
              type: string
              description: The description or "subtitle" for the event.
            tooltip:
              type: string
              description: Tooltip for the event
            node:
              type: string
              description: Node that the event is taking place on
            concurrentNodes:
              type: array
              description: Nodes that the event is happening concurrently on
              items:
                type: string
            victimNode:
              type: string
              description: Node that is being attacked & defended in the event.
            scoreLocTag:
              type: string
              description: Localized tag for the event score
            rewards:
              type: array
              items:
                $ref: '#/components/schemas/reward'
            health:
              type: number
              description: Amount of health remaining for the target
            affiliatedWith:
              $ref: '#/components/schemas/syndicate'
            jobs:
              type: array
              items:
                $ref: '#/components/schemas/syndicateJob'
            interimSteps:
              type: array
              description: Interim steps, marking progress towards the final goal.
              items:
                type: object
                properties:
                  goal:
                    type: number
                    description: Score to each to achieve this step
                  reward:
                    $ref: '#/components/schemas/reward'
                  message:
                    type: object
                    properties:
                      sender:
                        type: string
                        description: Who commissioned this reward
                      subject:
                        type: string
                        description: >-
                          Title of the in-game mail received for completing the
                          step.
                      message:
                        type: string
                        description: >-
                          Body of the in-game mail received for completing the
                          step.
                      senderIcon:
                        type: string
                        description: Path to sender icon string.
                      attachments:
                        type: array
                        description: Attachments to the message. Unknown usage.
                        items:
                          type: string
                  winnerCount:
                    type: number
                    description: >-
                      Suspected to be the number of persons who have completed
                      this step.
            progressSteps:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: Steps in the progress to completion
                  progressAmt:
                    type: number
                    description: Percent progress to completion
            progressTotal:
              type: number
              description: Total of progressSteps values.
            showTotalAtEndOfMission:
              type: boolean
              description: Whether to show the total score at the end of the mission
            isPersonal:
              type: boolean
              description: Whether the event is personal
            isCommunity:
              type: boolean
              description: Whether the event is communal
            regionDrops:
              type: array
              description: Drops in the area around the event node
              items:
                type: string
            archwingDrops:
              type: array
              description: Archwing Drops in effect while this event is active
              items:
                type: string
            asString:
              type: string
              description: Attempt to summarize event in a short string. (Do not use).
            metadata:
              type: object
              description: Miscellaneous metadata in a string provided by Digital Extremes
            completionBonuses:
              type: array
              items:
                type: number
              description: Completion bonus amounts per-stage
            scoreVar:
              type: string
              description: Internal string used for unknown purpose
            altExpiry:
              type: string
              format: date-time
              description: Alternate Expiry. Use unknown.
            altActivation:
              type: string
              format: date-time
              description: Alternate Activation. Use unknown.
            nextAlt:
              type: object
              properties:
                expiry:
                  type: string
                  format: date-time
                  description: Next alternate expiry. Use unknown.
                activation:
                  type: string
                  format: date-time
                  description: Next alternate activation. Use unknown.
    events:
      type: array
      items:
        $ref: '#/components/schemas/event'
    fissureTier:
      type: string
      enum:
        - Lith
        - Neo
        - Meso
        - Axi
        - Requiem
    fissure:
      type: object
      required:
        - activation
        - enemy
        - eta
        - expired
        - expiry
        - id
        - missionType
        - node
        - tier
        - tierNum
      properties:
        node:
          minLength: 1
          type: string
          description: Node name with planet
        expired:
          type: boolean
          description: Whether the fissure is still present
        eta:
          $ref: '#/components/schemas/eta'
        missionType:
          allOf:
            - $ref: '#/components/schemas/missionType'
            - description: Localized mission type
        missionKey:
          allOf:
            - $ref: '#/components/schemas/missionType'
            - description: Unlocalized mission type
        tier:
          allOf:
            - description: Tier or "era" of mission
            - $ref: '#/components/schemas/fissureTier'
        tierNum:
          type: number
          description: Numeric tier corresponding to the tier
          minimum: 1
          maximum: 5
        enemy:
          allOf:
            - $ref: '#/components/schemas/faction'
            - description: Localized enemy faction name
        enemyKey:
          allOf:
            - $ref: '#/components/schemas/faction'
            - description: >-
                Always-English enemy faction name, allows keying for standarized
                displays
        isStorm:
          type: boolean
          description: Whether this fissure is a void storm
        isHard:
          type: boolean
          description: Whether this fissure is on the Steel Path
    fissures:
      minItems: 1
      items:
        allOf:
          - $ref: '#/components/schemas/worldstateObject'
          - $ref: '#/components/schemas/fissure'
    flashSales:
      allOf:
        - minItems: 1
          type: array
          items:
            required:
              - discount
              - eta
              - isFeatured
              - isPopular
              - item
              - premiumOverride
            type: object
            properties:
              item:
                minLength: 1
                type: string
              expired:
                type: boolean
              eta:
                minLength: 1
                type: string
              discount:
                type: number
              premiumOverride:
                type: number
              isPopular:
                type: boolean
              isFeatured:
                type: boolean
    globalUpgrades:
      type: array
      items:
        type: object
        properties:
          start:
            type: string
          end:
            type: string
          upgrade:
            type: string
          operation:
            description: Operation descriptor
            type: string
          operationSymbol:
            description: Symbol corresponding to operation
            type: string
          upgradeOperationValue:
            description: Value corresponding to performing the operation
            type: number
          expired:
            description: Whether the upgrade has expired
            type: boolean
          eta:
            description: Formatted short string designating when the upgrade will expire.
            type: string
          desc:
            description: Plain text description of the global upgrade.
            type: string
    invasionFaction:
      type: object
      properties:
        reward:
          $ref: '#/components/schemas/reward'
        faction:
          allOf:
            - $ref: '#/components/schemas/faction'
            - description: Localized name of fation
        factionKey:
          allOf:
            - $ref: '#/components/schemas/faction'
            - description: Unlocalized name of faction
    invasion:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - required:
            - activation
            - attackingFaction
            - completed
            - completion
            - count
            - defendingFaction
            - desc
            - eta
            - id
            - node
            - requiredRuns
            - vsInfestation
          type: object
          properties:
            attacker:
              allOf:
                - type: object
                  description: Invading faction information
                - $ref: '#/components/schemas/invasionFaction'
            attackerReward:
              allOf:
                - type: object
                  deprecated: true
                - $ref: '#/components/schemas/reward'
            attackingFaction:
              deprecated: true
              minLength: 1
              type: string
            completed:
              type: boolean
              description: Whether this invasion is "over"
            completion:
              type: number
              description: percentage complete as a float value
              minimum: 0
              maximum: 100
              example:
                - 100
                - 50
                - 36.36
            count:
              type: number
              format: float
              description: How many fights have happened.
            defender:
              allOf:
                - type: object
                  description: Defending faction information
                - $ref: '#/components/schemas/invasionFaction'
            defenderReward:
              allOf:
                - type: object
                  deprecated: true
                - $ref: '#/components/schemas/reward'
            defendingFaction:
              deprecated: true
              minLength: 1
              type: string
            desc:
              minLength: 1
              type: string
              description: description of invasion
            eta:
              minLength: 1
              type: string
              description: time string showing approximate time to the end of the invasion
            node:
              minLength: 1
              type: string
              description: localized Node name
            nodeKey:
              minLength: 1
              type: string
              description: i18n key for matching node (always english translation)
            requiredRuns:
              type: number
              description: >-
                How many runs of this mission are needed to qualify for the
                reward
            rewardTypes:
              type: array
              items:
                $ref: '#/components/schemas/rewardType'
            startString:
              type: string
            vsInfestation:
              type: boolean
    invasions:
      minItems: 1
      type: array
      items:
        $ref: '#/components/schemas/invasion'
    news:
      minItems: 1
      type: array
      items:
        required:
          - asString
          - date
          - eta
          - id
          - imageLink
          - link
          - message
          - primeAccess
          - priority
          - stream
          - update
        type: object
        properties:
          date:
            minLength: 1
            type: string
          imageLink:
            minLength: 1
            type: string
          eta:
            minLength: 1
            type: string
          primeAccess:
            type: boolean
          stream:
            type: boolean
          translations:
            required:
              - es
            type: object
            properties:
              es:
                minLength: 1
                type: string
          link:
            minLength: 1
            type: string
          update:
            type: boolean
          id:
            minLength: 1
            type: string
          asString:
            minLength: 1
            type: string
          message:
            minLength: 1
            type: string
          priority:
            type: boolean
    nightwaveChallenge:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - type: object
          properties:
            isDaily:
              type: boolean
            isElite:
              type: boolean
            title:
              type: string
            desc:
              type: string
            reputation:
              type: number
    nightwave:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - type: object
          properties:
            params:
              type: object
              properties: {}
            rewardTypes:
              type: array
              items:
                type: string
            season:
              type: number
            tag:
              type: string
            phase:
              type: number
            possibleChallenges:
              type: array
              items:
                $ref: '#/components/schemas/nightwaveChallenge'
            activeChallenges:
              type: array
              items:
                $ref: '#/components/schemas/nightwaveChallenge'
    persistentEnemies:
      type: array
      items:
        type: object
        properties:
          locationTag:
            type: string
            description: Location tag for Acolyte
          agentType:
            type: string
            description: Which acolyte it is
          rank:
            type: number
            description: Enemy level
          healthPercent:
            type: number
            description: Enemy's remaining health
          fleeDamage:
            type: number
            description: The percent damage that the enemy takes when it's defeated
          region:
            type: string
            description: The region in which the enemy is located
          lastDiscoveredTime:
            type: string
            description: The time at which the enemy was last discovered
          lastDiscoveredAt:
            type: string
            description: Node at which the enemy was last discovered
          isDiscovered:
            type: boolean
            description: Whether the enemy is currently discovered
          isUsingTicketing:
            type: boolean
            description: Whether the enemy is using 'ticketing'. Unknown usage.
          pid:
            type: string
            description: >-
              faux-id incorporating the actual description and Whether the enemy
              is discovered.
    simaris:
      required:
        - asString
        - isTargetActive
        - target
      type: object
      properties:
        target:
          minLength: 1
          type: string
        isTargetActive:
          type: boolean
        asString:
          minLength: 1
          type: string
    sortie:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - required:
            - activation
            - boss
            - eta
            - expired
            - expiry
            - faction
            - id
            - rewardPool
            - variants
          type: object
          properties:
            rewardPool:
              minLength: 1
              type: string
            variants:
              minItems: 3
              uniqueItems: true
              type: array
              items:
                required:
                  - boss
                  - missionType
                  - modifier
                  - modifierDescription
                  - node
                  - planet
                type: object
                properties:
                  node:
                    minLength: 1
                    type: string
                  boss:
                    minLength: 1
                    type: string
                  missionType:
                    $ref: '#/components/schemas/missionType'
                  planet:
                    minLength: 1
                    type: string
                  modifier:
                    minLength: 1
                    type: string
                  modifierDescription:
                    minLength: 1
                    type: string
            boss:
              minLength: 1
              type: string
            faction:
              allOf:
                - $ref: '#/components/schemas/faction'
                - description: Faction of the boss controlling the sortie
            factionKey:
              allOf:
                - $ref: '#/components/schemas/faction'
                - description: Unlocalized Faction of the boss controlling the sortie
            expired:
              type: boolean
            eta:
              minLength: 1
              type: string
    simpleReward:
      type: object
      properties:
        name:
          type: string
          description: Name of current reward
        cost:
          type: number
          description: Resource cost of item
    steelPath:
      allOf:
        - type: object
          properties:
            activation:
              minLength: 1
              type: string
              format: date-time
            expiry:
              minLength: 1
              type: string
              format: date-time
            currentReward:
              $ref: '#/components/schemas/simpleReward'
            remaining:
              minLength: 1
              type: string
            rotation:
              type: array
              items:
                $ref: '#/components/schemas/simpleReward'
            evergreens:
              type: array
              items:
                $ref: '#/components/schemas/simpleReward'
            incursions:
              $ref: '#/components/schemas/worldstateObject'
    syndicateMission:
      required:
        - activation
        - eta
        - expiry
        - id
        - syndicate
      type: object
      properties:
        nodes:
          type: array
          items:
            type: string
        eta:
          minLength: 1
          type: string
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/syndicateJob'
        syndicate:
          $ref: '#/components/schemas/syndicate'
        id:
          minLength: 1
          type: string
        expiry:
          minLength: 1
          type: string
          format: date-time
        activation:
          format: date-time
          minLength: 1
          type: string
    syndicateMissions:
      minItems: 1
      type: array
      items:
        $ref: '#/components/schemas/syndicateMission'
    vallisCycle:
      required:
        - expiry
        - id
        - isWarm
        - timeLeft
      type: object
      properties:
        id:
          minLength: 1
          type: string
        expiry:
          minLength: 1
          type: string
        timeLeft:
          minLength: 1
          type: string
        isWarm:
          type: boolean
    voidTrader:
      allOf:
        - $ref: '#/components/schemas/worldstateObject'
        - required:
            - active
            - character
            - endString
            - inventory
            - location
            - psId
            - startString
          type: object
          properties:
            character:
              minLength: 1
              type: string
            location:
              minLength: 1
              type: string
            inventory:
              type: array
              items:
                type: object
                properties:
                  item:
                    type: string
                    description: Item that is being sold
                  ducats:
                    type: number
                    description: Amount of ducats required to purchase item
                  credits:
                    type: number
                    description: Amount of credits required to purchase item
            psId:
              minLength: 1
              type: string
            active:
              type: boolean
            startString:
              minLength: 1
              type: string
            endString:
              minLength: 1
              type: string
    ws:
      required:
        - alerts
        - arbitration
        - cambionCycle
        - cetusCycle
        - conclaveChallenges
        - constructionProgress
        - dailyDeals
        - earthCycle
        - events
        - fissures
        - flashSales
        - globalUpgrades
        - invasions
        - news
        - persistentEnemies
        - sentientOutposts
        - sortie
        - steelPath
        - syndicateMissions
        - timestamp
        - vallisCycle
        - voidTrader
        - archonHunt
      type: object
      properties:
        timestamp:
          $ref: '#/components/schemas/timestamp'
        alerts:
          $ref: '#/components/schemas/alerts'
        arbitration:
          $ref: '#/components/schemas/arbitration'
        archonHunt:
          $ref: '#/components/schemas/archonHunt'
        cambionCycle:
          $ref: '#/components/schemas/cambionCycle'
        cetusCycle:
          $ref: '#/components/schemas/cetusCycle'
        conclaveChallenges:
          $ref: '#/components/schemas/conclaveChallenges'
        constructionProgress:
          $ref: '#/components/schemas/construction'
        dailyDeals:
          $ref: '#/components/schemas/dailyDeals'
        darkSectors:
          $ref: '#/components/schemas/darkSectors'
        earthCycle:
          $ref: '#/components/schemas/earthCycle'
        events:
          $ref: '#/components/schemas/events'
        fissures:
          $ref: '#/components/schemas/fissures'
        flashSales:
          $ref: '#/components/schemas/flashSales'
        globalUpgrades:
          $ref: '#/components/schemas/globalUpgrades'
        invasions:
          $ref: '#/components/schemas/invasions'
        kuva:
          type: array
          items:
            $ref: '#/components/schemas/arbitration'
        news:
[...]
